body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 50%; 
    background: #003973;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
main {
    flex: 1 0 auto;
  }
  #edittask{
    display: none;
  }
  
@media screen and (max-width: 780px) {
    .form{
        width: 75%;
    }
  }